.jumbotron {
    background-image: url("https://pixabay.com/get/g238fe45333a2220e0f4dfca958d7c894f5ad0bc66fb51a7761e22fefb15ef06aa37535cadc0258ce13c2a063d198d325_1280.jpg");
    background-size: cover;
    color: white
}